@import url('https://fonts.google.com/specimen/Overpass');

/**** Layout ****/
$mobile-width: 375px;
$desktop-width: 1440px;


/**** Colors ****/
//primary
$orange: hsl(25, 97%, 53%);
//neutral
$white: hsl(0, 0%, 100%);
$light_grey: hsla(217, 12%, 63%, 0.47);
$medium_grey: hsl(216, 12%, 54%);
$dark_glue: hsl(213, 19%, 18%);
$very_dark_blue: hsl;


/**** Typography ****/
$normal_size: 40px;
$font: 'Overpass' sans-serif;
$normal-weight: 400;
$bold: 700;






